* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'DMSans';
    src: url("./assets/fonts/static/DMSans-Regular.ttf");
}
@font-face {
    font-family: 'DMSans-Italic';
    src: url("./assets/fonts/static/DMSans-MediumItalic.ttf");
}
@font-face {
    font-family: 'DMSans-Medium';
    src: url("./assets/fonts/static/DMSans-Medium.ttf");
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 2fr 0 0 2fr;
    border: solid 1px black;
    height: 80vh;
    gap: 30px;
    width: 80vw;
    grid-template-areas: 
        "cas soc soc sch"
        "cas soc soc sch"
        "ai man mai sch"
        "ai fas gro gro";
    object-fit: contain;
    padding: 20px;

    /* background: hsl(36, 100%, 99%);
    width: 100%;
    max-width: 1500px;
    height: 1000px;
    display: grid;
    gap: 1.5vw;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto; */
}
.grid .item:nth-child(1) {
    grid-area: cas;
    max-width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: peachpuff;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 11px;
    
} 
.grid .item:nth-child(1) h2 {
    font-size: 55px;
    font-family: 'DMSans';
    font-weight: 100;
    letter-spacing: -0.09em;
}
#quicker-color {
    color: hsl(256, 67%, 59%);
    font-family: 'DMSans-Italic';
    font-weight: 100;
    letter-spacing: -0.09em;
}
.grid .item:nth-child(2) {
    grid-area: soc;
    background-color: hsl(256, 67%, 59%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
    flex-direction: column;
}
#smaller-font-stars {
    font-size: 10px;
    position: relative;
    top: -100px;
    font-weight: 100;
}
.grid .item:nth-child(2) h2 {
    font-size: 85px;
    font-family: 'DMSans';
    color: #fff;
    letter-spacing: -0.01em;
}
#multiplier-color {
    color: hsl(39, 100%, 71%);
}
.grid .item:nth-child(3) {
    grid-area: sch;
}
.grid .item:nth-child(4) {
    grid-area: ai;
}
.grid .item:nth-child(5) {
    grid-area: man;
}
.grid .item:nth-child(6) {
   grid-area: mai;
}
.grid .item:nth-child(7) {
    grid-area: fas;
}
.grid .item:nth-child(8) {
    grid-area: gro;
}
.grid .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensure padding is inside the grid item */
}
.grid .item img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}